/* FONT FOR THE HOMEPAGE*/
@import url('https://fonts.googleapis.com/css?family=Bangers');
@import url('https://fonts.googleapis.com/css?family=Caveat');
@import url('https://fonts.googleapis.com/css?family=Caveat|Special+Elite');

.mat-card-image:first-child {
  margin-top: 0;
  margin-right: 2%;
  margin-left: -1%;
}

.mat-card-title {
  font-family: 'Special Elite', cursive;
}
