<div class="row mt-5">
  <div class="col-md-4 mb-3" *ngFor="let event of events"> <!--ngFor is used to display the array of events in the view-->
    <div class="card text-center">
      <div class="card-body">
        <h5 class="card-title">{{event.name}}</h5> <!-- display the name of the event as title -->
        <p class="card-text">{{event.description}}</p> <!-- display the description of the event -->
        <a href="#" class="btn btn-primary">Buy Tickets</a>
      </div>
      <div class="card-footer text-muted">
        {{event.date | date: 'shortDate'}}
      </div>
    </div>
  </div>
</div>
