<mat-card class="card-infos">
  <mat-card-header>
    <!--<div mat-card-avatar class="example-header-image"></div>-->
    <mat-card-title>{{ infos.pseudo }}</mat-card-title>
    <mat-card-subtitle>{{ infos.email }}</mat-card-subtitle>
    <img src="" alt="">
  </mat-card-header>
  <div *ngIf="!avDefault && infos.avatar.path !== undefined">
   <div class="avatar" [ngStyle]="{'background-image': 'url(http://localhost:4200/assets/uploads/'+ infos.avatar.path +')'}" [title]="infos.pseudo">
   </div>
 </div>
   <div *ngIf="avDefault">
     <img mat-card-image class="avatar" [src]="'https://api.adorable.io/avatars/200/'+infos.pseudo" [alt]="infos.pseudo">
   </div>
  <!-- ADD UPLOAD BUTTON -->
  <div *ngIf="myProfil" class="upchoices">
    <input type="file" (change)="onFileSelected($event)" name="photo" class="">
    <button type="button" (click)="saveUserData()" class="btn btn-primary float-right">Upload</button>
  </div>

  <!-- end upload -->
  <mat-card-content>
    <p>
      <!--The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.-->
      <!--A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally-->
      <!--bred for hunting.-->
    </p>
  </mat-card-content>
  <mat-card-actions style="text-align: center;">
    <div *ngIf="infos.typeRelationship == 1">
      <div *ngIf="infos.accepted">
        Invitation envoyée -- Acceptée
        <br/>
        <button mat-button (click)="deleteRelationship()">Supprimer la relation</button>
      </div>
      <div *ngIf="!infos.accepted">
        Invitation envoyée
        <br/>
        <button mat-button (click)="cancelInvitation()">Annuler l'invitation</button>
      </div>
    </div>
    <div *ngIf="infos.typeRelationship == 2">
      <div *ngIf="infos.accepted">
        Invitation reçue -- Acceptée
        <br/>
        <button mat-button (click)="deleteRelationship()">Supprimer la relation</button>
      </div>
      <div *ngIf="!infos.accepted">
        Invitation reçue
        <br/>
        <button mat-button (click)="acceptInvitation()">Accepter l'invitation</button>
      </div>
    </div>
    <div *ngIf="infos.typeRelationship == 0">
      <button mat-button (click)="invite()">Inviter</button>
    </div>
    <!--<button mat-button>SHARE</button>-->
  </mat-card-actions>
</mat-card>
<comp-notif-push *ngIf="message" [(message)]="message"></comp-notif-push>
