<div class="tuto-main">
  <mat-form-field style="width:700px !important;">
    <textarea [(ngModel)]="wallPost" matInput placeholder="Wall..." style="height: 100px;" (keyup.enter)="save()"></textarea>
  </mat-form-field>


  <!--<mat-card *ngFor="let o of messages">{{ o.message }}</mat-card>-->

  <mat-card *ngFor="let o of messages">

    <mat-card-header>
      <img mat-card-avatar mat-card-image [src]="o.userSource.customPath">
      <mat-card-title>{{ o.userSource.pseudo }}</mat-card-title>
      <mat-card-subtitle>{{ o.created }}</mat-card-subtitle>
    </mat-card-header>
    <!--<img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">-->
    <mat-card-content>
      <p>
        {{ o.message }}
      </p>
    </mat-card-content>
  </mat-card>
</div>
