<div class="tuto-main">

  <mat-chip-list>
    <mat-chip color="accent" selected>Mon profil</mat-chip>
    <mat-chip routerLink="/invitations">Invitations</mat-chip>
  </mat-chip-list>

  <mat-grid-list cols="4">
    <mat-grid-tile
            [colspan]="'1'"
            [rowspan]="'1'"
            [style.minHeight]="'1000px'"
    >
      <app-profile-infos class="tile-profile"></app-profile-infos>

    </mat-grid-tile>
    <mat-grid-tile
            [colspan]="'2'"
            [rowspan]="'1'"
            [style.minHeight]="'1000px'"
    >
      <app-profile-wall class="tile-profile"></app-profile-wall>
    </mat-grid-tile>
    <mat-grid-tile
            [colspan]="'1'"
            [rowspan]="'1'"
            [style.minHeight]="'1000px'"
    >
      <app-profile-friends class="tile-profile"></app-profile-friends>
    </mat-grid-tile>

  </mat-grid-list>


</div>
