@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

/* You can add global styles to this file, and also import other style files */
body {
  overflow: hidden;
}


.tuto-main {
  width: 1000px;
  margin: 20px auto;
}