<div id="Fort">
  <div class="underIndex">
  <!--  <img src="assets/Fort_homepage.png" alt=""> -->
  </div>
    <div class="global">
      <div class="stats">
        <div class="infos">
          <p>We are already {{globalStats.nbUsers}} green lovers</p>
        </div>
        <div class="infos">
          <p>{{globalStats.nbMsg}} messages have been send, join us !</p>
        </div>
      </div>
      <div class="textIndex">
        <p class="homeParagraphIntro">The first social network dedicated to</p>
        <p class="homeParagraphIntro">sustainable urban development</p>
        <p class="homeParagraph">Allez viens, on est bien !</p>
        <button type="button" class="btn btn-light" name="button" routerLink="/register" routerLinkActive="active">Join the gang</button>
      </div>
    </div>
</div>
