<div class="searchBar">
  <form class="example-form">
    <mat-form-field class="example-full-width">
      <input type="text" placeholder="Find a friend" aria-label="Number" matInput [formControl]="searchTerm" [matAutocomplete]="auto">
      <mat-autocomplete #auto="matAutocomplete">
        <mat-option *ngFor="let item of searchResult" [value]="item" (onSelectionChange)="selection(item)">
          {{ item }}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
  </form>
</div>
<hr>
<div class="tuto-main">

  <!--<mat-grid-list cols="6">-->

  <!--<mat-grid-tile *ngFor="let member of members"-->
  <!--[colspan]="'1'"-->
  <!--[rowspan]="'1'"-->
  <!--[style.height]="350"-->
  <!--class="tile-profile"-->
  <!--&gt;-->
  <mat-card *ngFor="let member of members" class="member-card">
    <mat-card-header>
      <mat-card-title (click)="selectMember(member.pseudo)" class="link-pseudo">{{ member.pseudo }}</mat-card-title>
      <mat-card-subtitle (click)="selectMember(member.pseudo)" class="link-email">{{ member.email }}</mat-card-subtitle>
    </mat-card-header>
    <div >
      <img class='avatar' (click)="selectMember(member.pseudo)" mat-card-image [src]="member.customPath"
           alt="member.pseudo">
    </div>


  </mat-card>
  <!--</mat-grid-tile>-->

  <!--</mat-grid-list>-->


</div>
